/* @media(max-width:992px){
    

    .thumbnail{
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 5px 5px -2px rgba(0,0,0,.25);
        width: 750px ;
        height: -550px;
        margin-top:20px;
        position: relative;
        top: -65px;
        box-sizing: border-box;
    }
    .undangan{
        position: relative;
        margin-top: 150px;
    }
    
    .undangan{
        margin-top:150px;
    }

    
    h2{
        font-size: 20px;
        margin-top: 200px;
        margin-left: -8px;
        background: #0b63dc;
    }
    
    hr{
        margin-top:-5px;
        margin-left: -7px;
        margin-right: 305px;
        border-top:5px solid black;
        border-radius:100px;
    }
    
    #info{
        width: 500px;
        height: 150px;  
    }
    
    .form{
        margin-bottom: 20px;
    }
    
    .tamu{
        margin-top: 90px;
    }
    
    .jumbotron{
        width:800px;
        height:530px;
        position: relative;
        margin-left: -20px;
    }
    
    .jumbotron label{
        padding:10px 15px;
    }
    .jumbotron b{
        font-size: 20px;
    }
    
    .jumbotron span{
        color: #0b63dc;
    }
    
} */
 
.form-niya{
   width: 200px !important;
   margin-left: 45px;
   position: auto; 
}

.form-nama{
    position: relative;
    width: 200px !important;
    margin-left: 60px;
}

hr{
    text-align: right;
    border-radius: 100px;
    border-top: 4px solid black;
    position: relative;
    margin-left: 30px;
    width: 200px !important;
    margin-top: -5px;
}

.h2{
    margin-top:250px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
}

.undangan img{
    margin-top: 236px;
    margin-left: 500px;
    background: #FFFFFF 30% 20% no-repeat padding-box;
    border-radius: 50%;
    border: 3px solid #2AA4FB;
    opacity: 5;
    overflow: hidden;
    background-size: cover;
}


.undangan label{
    margin-left: 10px;
}

.undangan button{
    position: relative;
    margin-left: 60px;
    width: 200px;
    font-size: 15px;
}

.thumbnail{
    padding-top: 5px;
    background-color: white;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.25) ;
    border-radius:20px ;
    margin-top:20x;
    margin-bottom: 15px;
    width: 290px !important;
    margin-left: 4px;
}

.jumbotron{
    margin-right: 10px;
    width: 300px;
    margin-left: -1ex;
    margin-top: 10px;
}

.thumbnail label{
    margin-top: 5px;
    margin-left: 5px;
}

.tamu h2{
    position: relative;
    margin-left: -1px;
    margin-top: 200px;
}

.tamu a{
    position: relative;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

span{
    color: aqua;
}

@media(min-width:922px){
    .h2{
        padding-top: 150px;
        text-align: left;
        position: relative;
        margin-left: 5px;
    }


    .hr{
        border-radius: 100px;
    border-top: 4px solid black;
    position: relative;
    margin-left: 5px;
    width: 20px !important;
    margin-top: -5px;
    }

    .undangan label{
        margin-right: 800px;
    }

    .form-nama{
        width: 400px !important;
    }

    .form-niya{
        width: 400px !important;
    }

    .undangan button{
     width: 200px;
     padding-bottom: 5px;
    }

    .tamu h2{
        padding-top: 15px;
        padding-bottom: 10px;
        margin-left: -10px;
    }

    .jumbotron{
        margin-left: 5px;
        width: 700px;
        height: 650px;
    }

    .thumbnail{
        margin-top: -40px;
        margin-bottom: 60px;
        width: 980px !important;
    }

}