@media (max-width: 500px){
    .logo{
        margin-top: 5px;
        width: 60px;
    }
    .nav-link{
        color:grey;
        font-size: 10px;
        font-style: inherit;
    }
    .bingkai a{
        color: skyblue;
        border:1px solid skyblue;
        padding: 1px 8px;
        padding-bottom: 4px;
        margin-bottom: 1px;
        text-decoration: none;
        font-size: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .bingkai a:hover{
        color: black;
        }
    .template img{
        width: 100%;
    }

/* footer */

    .footer{
        display: flex;
        align-items: center;
        background-color: #EFEFEF;
        width: 100%;
    }
    .logo-footer{
        width: 50px;
        margin-left: 10px;
    }
    .info{
        margin-left: 20px;
    }
    .info span{
        margin-right: 5px;
        font-size: 8px;
    }
    .info span img{
        width: 10px;
        margin-right: 5px;
    }
    .copy{
        color: #707070;
        font-size: 8px;
        text-align: center;
        height: 18px;
        margin-top: 8px;
    }
}
@media (min-width: 992px){
    .logo{
        width: 100px;
    }
    .nav-link{
        color:grey;
        font-size: 20px;
        font-style: inherit;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        color: black;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    }
    .bingkai{
        width: 147px;
        height: 33px;
        border: 2px solid skyblue;
        background: transparent;
        border-radius: 10px;
        margin-top: 8px;
    }
    .bingkai .garis{
        border-right: 2px solid skyblue;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        height: 18px;
    }
    .bingkai a{
        color: skyblue;
        margin-left: 7px;
        margin-top: -1px;
        margin-right: 7px;
        margin-bottom: -6px;
        font-size: 20px;
        text-decoration: none;
    }
    .bingkai a:hover{
        color: grey;
    }
    .navbar{
        margin-bottom: 20px;
    }  

    /* Isi */

    .daun img{
        width: 150px;
        display: flex;
        position: absolute;
    }
    .tengah{
        margin: auto;
        text-align: center;
        font-family: great vibes,cursive;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .tengah img{
        width: 20%;
        margin-bottom: 5px;
    }
    .basmalah{
        text-align: center;
        font-size: 20px;
    }
    .nama{
        margin-top: 40px;
        font-family: great vibes, cursive;
        font-size: 60px;
        text-align: center;
    }
    .undangan{
        text-align: center;
    }
    .daun-dua img{
        float: right;
        width: 150px;
        position: relative;
    }
    .bg img{
        position: relative;
        width: 100%;
    }
    .tamu{
        overflow: auto;
    }
    .template{
        background-image: url(../image/undangan-1/Union\ 3.png);
        background-size: cover;
    }

    /* footer */

    .footer{
        display: flex;
        align-items: center;
        background-color: #EFEFEF;
        width: 100%;
    }
    .logo-footer{
        width: 100px;
        margin-left: 200px;
    }
    .info{
        margin-left: 200px;
    }
    .info img{
        width: 30px;
        margin-right: 10px;
        margin-top: -5px;
    }
    .info span{
        margin-right: 50px;
        font-size: 15px;
    }
    .copy{
        color: #707070;
        font-size: 15px;
        text-align: center;
        height: 80px;
        margin-top: 30px;
    }
}