@media (max-width: 800px){
    .logo{
        margin-top: 5px;
        width: 60px;
    }
    .nav-link{
        color:grey;
        font-size: 15px;
        font-style: inherit;
    }
    .bingkai a{
        color: skyblue;
        border:1px solid skyblue;
        padding: 1px 8px;
        padding-bottom: 4px;
        margin-bottom: 1px;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        border-radius: 10px;
    }
    .bingkai a:hover{
        color: black;
    }
    .bodi{
        margin-top: 80px;
        width: 100%;
        text-align: center;
    }
    .container{
        width: 80%;
    }
    .daftar{
        width: 100%;
        overflow: hidden;
        align-items: center;
    }
    .judul{
        background-color: #3886F9;
        color: white;
        margin-bottom: 10px;
        padding: 5px 10px;
    }
    input{
        width: 100%;
        margin-bottom: 7px;
        border: 2px solid #B5B5B5;
        padding: 3px 10px;
        color: #B2ADAD;
        font-size: 15px;
    }
    .bodi a{
        padding: 5px 20px;
        background-color: #3886F9;
        color: white;
        border-radius: 7px;
        float: right;
    }
    .gambar img{
        width: 65%;
    }
    .copy{
        color: #707070;
        font-size: 8px;
        text-align: center;
        height: 18px;
        margin-top: 8px;
    }
}
@media (min-width: 800px){
    .logo{
        width: 50%;
    }
    .nav-link{
        color:grey;
        font-size: 18px;
        font-style: inherit;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        color: black;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    }
    .bingkai{
        width: 137px;
        height: 30px;
        border: 2px solid skyblue;
        background: transparent;
        border-radius: 10px;
        margin-top: 8px;
    }
    .bingkai .garis{
        border-right: 2px solid skyblue;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        height: 18px;
    }
    .bingkai a{
        color: skyblue;
        margin-left: 7px;
        margin-top: -1px;
        margin-right: 7px;
        margin-bottom: -6px;
        font-size: 18px;
        text-decoration: none;
    }
    .bingkai a:hover{
        color: grey;
    }
    .daftar{
        width: 300px;
        overflow: hidden;
        align-items: center;
    }
    .judul{
        background-color: #3886F9;
        color: white;
        margin-bottom: 10px;
        padding: 5px 10px;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        border: 2px solid #B5B5B5;
        padding: 3px 10px;
        color: #B2ADAD;
        font-size: 15px;
    }
    .bodi a{
        padding: 5px 20px;
        background-color: #3886F9;
        color: white;
        border-radius: 7px;
        float: right;
    }
    .bodi a:hover{
        background-color: #003feb;
        color: black;
        text-decoration: none;
    }
    .bodi{
        display: flex;
        align-items: center;
        margin-top: 80px;
    }
    .gambar img{
        float: right;
        width: 55%;
    }
    .copy{
        color: #707070;
        font-size: 15px;
        text-align: center;
        height: 80px;
        margin-top: 30px;
    }
}